@font-face {
    font-family: "flaticon";
    src: url("./flaticon2.ttf") format("truetype"),
url("./flaticon2.woff") format("woff"),
url("./flaticon2.woff2") format("woff2"),
url("./flaticon2.eot") format("embedded-opentype"),
url("./flaticon2.svg") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-sketch:before {
    content: "\f101";
}
.flaticon-technology:before {
    content: "\f102";
}
.flaticon-vinyl:before {
    content: "\f103";
}
